.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Comment Item */
.main-container {
  border-bottom: 2px solid #cbd2d9;
  margin-bottom: 20px;
}

.name-comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.initial-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  margin: 8px;
  font-size: 16px;
  font-family: 'Roboto';
}
@media (max-width: 767px) {
  .initial-container {
    font-size: 14px;
    flex-shrink: 0;
  }
}
.name-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.name-text {
  font-family: 'Roboto';
  font-size: 16px;
  color: #1e293b;
  font-weight: bold;
  margin-right: 8px;
}
.time-text {
  font-family: 'Roboto';
  font-size: 14px;
  color: #94a3b8;
}

.comment-text {
  font-family: 'Roboto';
  font-size: 14px;
  color: #334155;
  margin: 0;
}

.like-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
}

.like-img-txt-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.like-img {
  width: 20px;
  margin-right: 8px;
}
.like-btn,
.delete-btn {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  color: #94a3b8;
  border: 0;
  cursor: pointer;
}
.like-btn-active {
  color: #0b69ff;
}
.delete-img {
  width: 20px;
}
